* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-body {
  background-color: #212121;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}